@model List<BoardModel>
@{
    ViewBag.Title = "All boards";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach(var board in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title mt-1">@board.Name</h5>
            </div>

            <a asp-controller="Board" action="Details" asp-route-id="@board.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">View Board</a>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}